process {
  withName:illumination   {
    cpus   = 4
    time   = '6h'
    memory = '12G'
  }
  withName:ashlar         {
    cpus   = 1
    time   = '48h'
    memory = '5G'
    queue  = 'medium'
  }
  withName:worker         {
    cpus   = 1
    time   = '2h'
    memory = '48G'
  }
  withName:s3seg          {
    cpus   = 4
    time   = '3h'
    memory = '36'
  }
  withName:mcquant        {
    cpus   = 1
    time   = '12h'
    memory = '40G'
  }
}